<!DOCTYPE html>
{% extends 'main.html' %}
{% block body %}
<div class="container-md mt-4">
    <h2>𝐀𝐝𝐝 𝐍𝐞𝐰 𝐄𝐱𝐩𝐞𝐧𝐬𝐞𝐬 </h2>
    <form method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        <div class="mb-3 mt-4">
            <label class="form-label fw-bold">{{ form.expense.label}}</label>
            {{ form.expense(class="form-control", id="title", placeholder="Enter your expense item name") }}
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">{{ form.amount.label }}</label>
            {{ form.amount(class="form-control", id="amount", placeholder="Enter amount") }}
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">{{ form.category.label }}</label>
            {{ form.category(class="form-control", id="category")}}
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">{{ form.date.label }}</label>
            {{ form.date(class="form-control", id="date") }}
        </div>
        <button type="submit" class="btn mb-4" style="background-color:#1e3a8a; color:white;">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock body %}