{% extends 'main.html' %}
{% block body %}

<div class="container mt-5 bg-dark-subtle">
    <h2>Add New Expense</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="title" class="form-label">{{ form.expense_name.label}}</label>
            {{ form.expense_name(class="form-control", id="title", placeholder="Enter your expense item name") }}
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">{{ form.amount.label }}</label>
            {{ form.amount(class="form-control", id="amount", placeholder="Emter amount") }}
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">{{ form.category.label }}</label>
            <!-- <select class="form-control" id="category">
                <option>Food</option>
                <option>Transport</option>
                <option>Shopping</option>
                <option>Entertainment</option>
                <option>Other</option>
            </select> -->
            {{ form.category(class="form-control", id="category")}}
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">{{ form.date.label }}</label>
            {{ form.date(class="form-control", id="date") }}
            {% for error in form.date.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
        </div>
        <button type="submit" class="btn btn-success mb-4">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock body %}