{% extends 'main.html' %}
{% block body %}

<div class="container mt-4">
    <h2>Expense Reports</h2>


    {% if allExpense|length == 0 %}
  
    <div class="alert alert-dark" role="alert">
        No record found. Add your first Expense?
        <div class="d-flex justify-content-end">
            <a href="/add-expense" type="button" class="btn btn-primary mx-1">Add</a>
          </div>      
    </div>
    {% else %}
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Update & Delete</th>
            </tr>
        </thead>

        <tbody>

            {% for data in allExpense %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{data.date}}</td>
                <td>{{data.expense}}</td>
                <td>{{data.category}}</td>
                <td>{{data.amount}}</td>
                <td><a href="/update/{{data.id}}" type="button" class="btn btn-primary btn-sm mx-1">Update</a>
                    <a href="/delete/{{data.id}}" type="button" class="btn btn-primary btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endif %}

</div>

{% endblock body %}