{% extends 'main.html' %}
{% block body %}

<div class="container mt-5 bg-dark-subtle">
    <h2>Update Expense</h2>

    <form action="/update/{{data.id}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Expense Title</label>
            <input type="text" class="form-control" id="title" value="{{data.expense}}" name="title">
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount (₹)</label>
            <input type="number" class="form-control" id="amount" value="{{data.amount}}" name="amount">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-control" id="category" name="category">
                <option value="Food" {% if data.category=='Food' %} selected {% endif %}>Food</option>
                <option value="Transport" {% if data.category=='Transport' %}selected{% endif %}>Transport</option>
                <option value="Shopping" {% if data.category=='Shopping' %}selected{% endif %}>Shopping</option>
                <option value="Entertainment" {% if data.category=='Entertainment' %}selected{% endif %}>Entertainment
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" value="{{data.date}}" id="date" name="date" required>
        </div>
        <button type="submit" class="btn btn-success mb-4">Update Expense</button>
    </form>
</div>
{% endblock body %}